body{
	background: #D44C37;
	margin: 0;
}

header{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	color: #ffffff;
	position: relative;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: #29B2C2;
	background-color: #29B2C2;
}

#concentrese{
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
}

#instrucciones{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #ffffff;
	padding: 4px;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: #D44C37;
	margin: 0;
}

.juego{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
	border-width:  2px;
	width: auto;
	height: auto;
	text-align: center;
	border-style: solid;
	background-color: #29B2C2;
	border-color: #29B2C2;
}

.tarjeta{
	display: inline-block;
	margin: 10px;
	max-width:70px; 
	max-height:70px;
	border-style: none;

}

.containerTarjeta{
	border-width: 2px;
	border-color: black;
	margin: 5px;
}



.resultados{
	background color: #167C87;
	width: 500px;
	height: 179px;
	margin-left: auto;
	margin-right: auto;
	border-width: 2px;
	border-color: black;
	border-style: solid; 
}

#reiniciar{
	display: flex;
	margin: 79px auto auto auto;
}
.tm{

	display: inline-block;
	margin: 10px;
	border-style: none;
	border-width: 2px;
}